body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $color-bg-primary-light;
}
.content-body {
    display: flex;
    flex: 1;
    padding: 1em 0;
    .main-sidebar {
        flex: 0 0 20vw;
        background-color: #fff;
        border: 1px solid $color-border-primary-light;
        border-radius: 5px;
    }

    .main-container {
        margin-left: 1em;
        background-color: #fff;
        border: 1px solid $color-border-primary-light;
        border-radius: 5px;
    }
}

