.main-sidebar {
    .nav-item {
        border-bottom: 1px solid $color-border-primary-light;
        a {
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            &:hover,
            &.active{
                border-left: 3px solid $blue;
                border-right: 3px solid $blue;
                background-color: white;
            }
        }
    }
}
